*{
    box-sizing: border-box;				
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

body{
    background: #f4f4f4;
    font-size: 16px;
}

main{
    padding: 1rem 3rem;
}

p{
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

button{
    padding: 1rem;
    border: none;
    background: #4554a5;
    color: #fff;
    min-width: 150px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background: #29346f;
}